﻿@model ELMA.DATA.Vacancy

@Html.Partial("_Header")
<div class="container mt-3 d-block">
    <div class="bg-white shadow-sm p-2 mb-2">
        <div class="d-flex justify-content-between border-bottom">
            <div>
                <h3>
                    @Model.CompanyName
                </h3>
            </div>
            <div>
                <h5>
                    @Model.Salary р.
                </h5>
                
            </div>
        </div>
        <div class="d-flex justify-content-start mb-3">
            @Model.Position
        </div>
    </div>
    <div class="bg-white shadow-sm p-2">
        
        <div>
            <h4>Стек технологий</h4>
            <p>
                @Model.Requirement
            </p>
        </div>
        
        <div>
            <h4>Описание</h4>
            <p>
                @Model.Description
            </p>
        </div>
    </div>
    @if(User.IsInRole("Admin") || User.Identity.Name == Model.User.UserName)
    {
        @Html.ActionLink(Model.IsActualy? "Закрыть вакансию":"Открыть вакансию","Close"
        , new { vacancyId = Model.VacancyID}
        , new { @class="btn btn-primary"})
    }
    
</div>