﻿
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="/Home/Index">ELMA</a>
        <button class="navbar-toggler" type="button"
                data-toggle="collapse" data-target="#navbarCollapse" 
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Candidates">Кандидаты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Vacancions">Вакансии</a>
                    </li>
                }

                @if (User.IsInRole("Jobseeker"))
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Vacancions", "Home", new { userVacancy = true })">Мои вакансии</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Create", "Vacancy", new { userVacancy = true })">Создать вакансию</a>
                    </li>
                }
                @if (User.IsInRole("Employee"))
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Candidates", "Home", new { userVacancy = true })">Мои резюме</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Create", "Candidate", new { userVacancy = true })">Создать резюме</a>
                    </li>
                }
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <a href="/Autorization/LogOut" class="btn btn-success ml-1 my-2 my-sm-0" type="submit">LogOut</a>
            </form>
        </div>
    </nav>
</header>