﻿@model ELMA.Models.CandidateModel

@Html.Partial("_Header")
    <div class="container mt-3 d-block">
        <div class="bg-white shadow-sm p-2 mb-2">
            <div class="d-flex justify-content-between border-bottom">
                <div>
                    @string.Format("{0} {1} {2}", Model.Candidate.FirstName, Model.Candidate.LastName, Model.Candidate.MiddleName)
                </div>
                <div>
                    от @Model.Candidate.Salary р
                </div>
            </div>
            <div class="d-flex justify-content-start mb-3">
                @Model.Candidate.Position
            </div>
            <div>
                Дата рождения: @Model.Candidate.Birthday.ToString("dd.MM.yyyy")
            </div>
        </div>
        <div class="bg-white shadow-sm p-2">
            <img class="img-thumbnail" width="150" height="150"
                 src="@Url.Action("GetImage", "Candidate",
                        new { candidate_id = Model.Candidate.CandidateID })" />

            @if (Model.WorkExperiences != null && Model.WorkExperiences.Count() > 0)
            {
                <h5>
                    Опыт работы
                </h5>
                foreach (var experience in Model.WorkExperiences)
                {
                    <div class="d-flex justify-content-between border-bottom">
                        <div>
                            @experience.CompanyName
                        </div>
                        <div>
                            @experience.Position
                        </div>
                    </div>

                    <div>
                        @experience.Description
                    </div>
                }
            }

        </div>
        @if (User.IsInRole("Admin") || User.Identity.Name == Model.Candidate.User.UserName)
        {
            @Html.ActionLink(Model.Candidate.IsActualy? "Закрыть резюме":"Открыть резюме", "Close"
                , new { candidateId = Model.Candidate.CandidateID }
                , new { @class = "btn btn-primary" })
        }

    </div>