﻿@model ELMA.Models.CandidateModel

@Html.Partial("_Header")

    <div class="container">

        @using (Html.BeginForm("Create", "Candidate",FormMethod.Post, new { enctype = "multipart/form-data" } ))
        {
            <div class="bg-white shadow-sm p-2">
                <div class="form-horizontal">
                    <h4>Создать резюме</h4>
                    <hr />
                    <div class="form-group">
                        <div style="position:relative;">
                            <label>Картинка</label>
                            <a class='btn btn-primary' href='javascript:;'>
                                Выберите файл...
                                <input type="file" name="Image" size="40"
                                       style="position:absolute;z-index:2;top:0;
                                left:0;filter: alpha(opacity=0); opacity:0;
                                background-color:transparent;color:transparent;"
                                       onchange='$("#upload-file-info").html($(this).val());'/>
                            </a>
                            <span class='label label-info' id="upload-file-info">@Model.Image</span>
                        </div>
                    </div>
                
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Candidate.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Candidate.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Candidate.FirstName, "",new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Candidate.MiddleName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Candidate.MiddleName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Candidate.MiddleName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Candidate.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Candidate.LastName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Candidate.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Candidate.Birthday, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Candidate.Birthday, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Candidate.Birthday, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Candidate.Salary, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Candidate.Salary, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Candidate.Salary, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Candidate.Position, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Candidate.Position, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Candidate.Position, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div>


                @if (Model.WorkExperiences != null && Model.WorkExperiences.Count() > 0)
                {
                    <div class="border-bottom">
                        Опыт работы
                    </div>
                    for (int i = 0; i < Model.WorkExperiences.Count(); i++)
                    {
                        <div class="bg-white shadow-sm p-2 mt-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.WorkExperiences[i].CompanyName, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.WorkExperiences[i].CompanyName
                                        , new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.WorkExperiences[i].Position, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.WorkExperiences[i].Position
                                        , new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.WorkExperiences[i].Description, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.WorkExperiences[i].Description
                                        , new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                        </div>

                    }
                }

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @if (Model.WorkExperiences != null && Model.WorkExperiences.Count() > 0)
                        {
                            <button type="submit" class="btn btn-primary" name="deleteExperience">Удалить опыт работы</button>
                        }

                        <button type="submit" class="btn btn-primary" name="addExperience">Добавить опыт работы</button>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" name="createCandidate" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>