﻿@model IEnumerable<ELMA.DATA.User>

@Html.Partial("_Header")

<div class="container">
    <h4>Список пользователей</h4>
    @foreach (var user in Model)
    {
        <div class="bg-white shadow-sm p-2 mt-2">
            <div>
                <span>ID: </span>
                <span>@user.UserID</span>
            </div>
            <div>
                <span>Login: </span>
                <span>@user.UserName</span>
            </div>
            <div>
                <span>password: </span>
                <span>@user.Password</span>
            </div>
            <div>
                <span>Role ID: </span>
                <span>@user.Role.Id</span>
            </div>
        </div>
    }
</div>