﻿@model ELMA.Models.CandidatesViewModel

@Html.Partial("_Header")
    <main>
        <div id="filter_toggle" class="btn btn-primary" onclick="ToggleFilter()">
            Фильтр
        </div>
        <div id="filter" class="bg-white shadow-sm p-2 m-2 mt-3" style="display:none;">
            <div class="d-flex justify-content-center border-bottom">
                <h5>Фильтр</h5>
            </div>

            @using (Html.BeginForm("Create"))
            {
                <div class="mt-2">
                    @Html.LabelFor(model => model.candidateFilter.Position, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.candidateFilter.Position, Model.Positions as SelectList,
                        htmlAttributes: new { @class = "form-control" })
                </div>

                <div>
                    @Html.LabelFor(model => model.candidateFilter.Salary, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.candidateFilter.Salary, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="d-flex justify-content-end mt-3">
                    <input type="submit" value="Отфильровать" class="btn btn-primary" />
                </div>
            }
        </div>

        @foreach (var candidate in Model.Candidates)
        {

            <div class="container mt-3 d-block">
                <a href="@Url.Action("Candidate","Candidate", new { candidateId = candidate.CandidateID})">
                    <div class="bg-white shadow-sm p-2">
                        <div class="d-flex justify-content-between mb-3">
                            <div class="">
                                @string.Format("{0} {1}", candidate.FirstName, candidate.LastName)
                            </div>
                            <div class="">
                                @candidate.Salary
                            </div>
                        </div>
                        <div class="d-flex justify-content-start">
                            @candidate.Position
                        </div>
                    </div>
                </a>
            </div>
        }
    </main>
