﻿@model ELMA.Models.VacancyViewModel

@Html.Partial("_Header")
    <main>
        <div id="filter_toggle" class="btn btn-primary" onclick="ToggleFilter()">
            Фильтр
        </div>
        <div id="filter" class="bg-white shadow-sm p-2 m-2" style="display: none;">
            <div class="d-flex justify-content-center border-bottom">
                <h5>Фильтр</h5>
            </div>
            <form method="get">
                <div>
                    @Html.LabelFor(model => model.vacancyFilter.Position, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.vacancyFilter.Position, Model.Positions as SelectList,
                        htmlAttributes: new { @class = "form-control" })
                </div>
                <div>
                    @Html.LabelFor(model => model.vacancyFilter.CompanyName, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.vacancyFilter.CompanyName, Model.Companies as SelectList,
                        htmlAttributes: new { @class = "form-control" })
                </div>
                <div>
                    @Html.LabelFor(model => model.vacancyFilter.Salary, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.vacancyFilter.Salary, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="d-flex justify-content-end">
                    <input type="submit" value="Отфильровать" class="btn btn-primary mt-3" />
                </div>
            </form>
        </div>

        @foreach (var vacancy in Model.Vacancies)
        {

            <div class="container mt-3 d-block">
                <a href="@Url.Action("Vacancy","Vacancy", new { vacancyId = vacancy.VacancyID})">
                    <div class="bg-white shadow-sm p-2">
                        <div class="d-flex justify-content-between mb-3">
                            <div class="">
                                @vacancy.CompanyName
                            </div>
                            <div class="">
                                @vacancy.Salary
                            </div>
                        </div>
                        <div class="d-flex justify-content-start">
                            @vacancy.Position
                        </div>
                    </div>
                </a>
            </div>
        }
    </main>
